@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body,
html {
  position: absolute;
  margin: 0;
  width: 375px;
}

header {
  background: #3c3c3c;
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

header a {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 6%;
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  text-decoration: none;
}

nav {
  margin-right: 6%;
  margin-bottom: auto;
  align-self: flex-end;
  margin-top: auto;
}

nav button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button img {
  width: 20px;
  height: 13px;
}

main {
  bottom: 0;
  top: 0;
}

.container {
  background-color: #1c1c1c;
  padding: 0 24px;
  padding-bottom: 130px;
  display: flex;
  flex-direction: column;
  background-image: url(images/Group.png);
  background-position: 100% 115%;
  background-repeat: no-repeat;
}

h1 {
  color: #ff6b00;
  font-family: "Crete Round", serif;
  font-size: 56px;
  width: 327px;
  height: 110px;
  align-self: flex-start;
  left: 24px;
  margin-top: 0;
  padding-top: 120px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #fff;
  display: block;
  font-weight: 700;
  margin: 0;
  align-self: flex-start;
}

div p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  margin-bottom: 0;
  font-size: 15px;
  display: block;
  align-self: flex-start;
}

.socials {
  list-style: none;
  display: flex;
  width: 100%;
  padding-left: 0;
  margin-left: 22px;
  margin-top: 0;
  align-self: flex-start;
}

.socials li {
  margin: 22px 22px 0 0;
  display: list-item;
  cursor: pointer;
  align-self: flex-start;
}

/*Work section*/

.work{
  display: grid;
  background-color: #fff;
  grid-template-columns: 24px auto 24px;
  row-gap: 24px;
  margin-bottom: 70px;
}

.work > *{
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.heading h3{
  width: 327px;
  color: #1C1A19;
font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 40px;
height: 50px;
    margin-top: 120px

}


.heading #line{
  width: 327px;
  margin-left: inherit;
margin-top: 0;
margin-bottom: 50px;
}

.main-project img{
  width: 327px;
height: 237px;
top: 307px;
}

.text h2{
margin-top: 13px;
font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;
color: #091E42;
}

.text p{
height: 125px;


font-family: 'Inter';
font-style: normal;
font-size: 16px;
line-height: 24px;
width: 327px;
margin-bottom: 30px;

color: #091E42;
}

#languages {
  display: flex;

padding: 0px;

list-style: none;

}

#languages li{

height: 20px;
margin-right: 12px;
padding: 10px 12px 10px 12px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
border: 1px solid #8993A4;
color: #091E42;

}

.see-project {

width: 124px;
height: 48px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
border: none;
color: #FFFFFF;
background: #ff6a00e5;

}

.project{
  background-image: url(images/background-img.png);
  width: 327px;
  height: 386px;
  margin-bottom: 24px;
}

.project h2{
  width: 295px;
height: 81px;
margin-top: 84px;
margin-left: 16px;
font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 44px;

color: #FFFFFF;

}

.project p{
  width: 295px;
height: 87px;
margin-top: 12px;
margin-left: 16px;
color: white;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.project ul{
  margin-left: 16px;
  margin-top: 0;
}

.languages {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.languages li {
margin-right: 12px;
font-family: 'Inter';
font-size: 15px;
line-height: 20px;
padding: 10px 12px;
color: #FFFFFF;
}


.languages > *{
  font-style: normal;
  font-weight: 500;
  background: rgba(202, 194, 194, 0.24);
}

.button{
  background: #FF6B00;
  width: 327px;
border: none;
height: 50px;
left: 0px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 24px;
color: white;
}

.about-me{
  height: 700px;
  background: #1C1A19;
  background-image: url(images/about.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
}

.about-me h2{
  width: 327px;
height: 79px;
margin-top: 120px;
margin-left: 24px;
font-family: 'Crete Round';
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 88px;

letter-spacing: 0.37px;



color: #FF6B00;
}

.about-me p{
  width: 327px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-left: 24px;
color: #F4F5F7;
}

.resume {
  width: 161px;
height: 48px;
border: none;
margin-left: 24px;
background: #FF6B00;
color: #FFFFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding: 10px;
}


#second-line{
  width: 327px;
  height: 0px;
left: 0px;
right: 0px;
top: calc(50% - 0px/2 + 0.5px);
margin-bottom: 125px;
border: 1px solid #FFFFFF;
margin-top: 22px;
}

.lists{
  background: #1C1A19;
  margin-top: 250px;
}
.lists ul{
  text-align: center;
  list-style: none;
  padding-left: 0;
}
.bold{
  color: white;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 35px;

}

.simple{
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 43px;
color: #FFFFFF;
}